<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <script>
        if (self != top) {
            top.location.href = self.location.href;
        }
    </script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="/font/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/element-ui/lib/theme-chalk/index.css">
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/plugins/vue/js/vue.js"></script>
    <script src="/plugins/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div id="login" v-cloak>
        <div class="login-container">
            <el-form ref="loginForm" :model="loginForm" :rules="ruleValidate" class="login-form" auto-complete="on"
                label-position="left">
                <div class="title-container">
                    <h3 class="title">
                        {{title}}
                    </h3>
                </div>
                <el-form-item prop="username">
                    <span class="svg-container">
                        <i class="fa fa-user"></i>
                    </span>|
                    <el-input :placeholder="username" v-model="loginForm.username" type="text" auto-complete="on" />
                </el-form-item>
                <el-form-item prop="password">
                    <span class="svg-container">
                        <i class="fa fa-lock"></i>
                    </span>|
                    <span class="show-pwd" @click="showPwd">
                        <i :class="passwordType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                    </span>
                    <el-input :placeholder="password" v-model="loginForm.password" auto-complete="on" :type="passwordType"
                        @keyup.enter.native="handleLogin" />
                </el-form-item>
                <el-checkbox v-model="rememberPwd">记住账号</el-checkbox>
                <el-button type="primary" class="login-btn" @click.native.prevent="handleLogin">
                    登&nbsp;&nbsp;录
                </el-button>
                <div class="copyright">© 2019 ~ 广西新豪智云技术股份有限公司 版权所有</div>
            </el-form>
        </div>
    </div>
    <script src="/js/module/login.js?_${.now?long?c}"></script>
</body>

</html>