<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>组织框架列表</title>
<#include "/common/header.html">
</head>
<body class="frame-body">
	<div class="frame-fluid" id="app">
		<div class="frame-card">
			<div class="frame-card-header">
				<i-form ref="queryForm" :model="q" :label-width="90">
					<Row>
						<i-col span="3">
							<form-item prop="qyid" label="管辖区域">
								<i-select v-model="q.qyid" clearable filterable placeholder="输入可搜索">
					                <i-option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
					            </i-select>
							</form-item>
						</i-col>
						<i-col span="3">
							<form-item prop="type" label="区域类型">
								<i-select v-model="q.type" clearable>
					                <i-option v-for="item in typeList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
					            </i-select>
							</form-item>
						</i-col>
						<i-col span="3">
							<form-item prop="bmmc" label="组织名称">
								<i-input v-model="q.bmmc" clearable placeholder="模糊搜索"></i-input>
							</form-item>
						</i-col>
						<i-col span="3">
							<form-item prop="bmdm" label="组织代码">
								<i-input v-model="q.bmdm" clearable placeholder="精确搜索"></i-input>
							</form-item>
						</i-col>
						<i-col span="3">
							<form-item prop="bmlx" label="组织类型">
								<i-select v-model="q.bmlx" clearable>
									<i-option v-for="item in zzlxList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
								</i-select>
							</form-item>
						</i-col>
					</Row>
					<Row>
						<i-col span="3">
							<form-item prop="sjdwmc" label="上级组织名称">
								<i-input v-model="q.sjdwmc" clearable placeholder="模糊搜索"></i-input>
							</form-item>
						</i-col>
						<i-col span="3">
							<form-item prop="sjdwdm" label="上级组织代码">
								<i-input v-model="q.sjdwdm" clearable placeholder="精确搜索"></i-input>
							</form-item>
						</i-col>
						&nbsp;&nbsp;
						<i-button type="success" @click="query"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询</i-button>
             	 		<i-button @click="handleReset('queryForm')"><i class="fa fa-reply" aria-hidden="true"></i></i>&nbsp;重置</i-button>
					</Row>
				</i-form>
			</div>
			<div class="layui-card-body">
				<table class="layui-hide" id="zzbmTable" lay-filter="zzbmTable"></table>
			</div>
		</div>
	</div>
	
	<script src="${basePath}/js/zzbm.js"></script>
</body>
</html>