<#assign time="?_${.now?long?c}" />
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <#include "/common/header.html" />
    <link rel="stylesheet" href="/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
    <script src="/plugins/ztree/js/jquery.ztree.core.min.js"></script>
    <script src="/plugins/ztree/js/jquery.ztree.excheck.min.js"></script>
    <script src="/plugins/ztree/js/jquery.ztree.exhide.min.js"></script>
    <script src="/plugins/ztree/js/fuzzysearch.js"></script>
</head>

<body>
    <div id="appTree" v-cloak>
        <el-card>
            <div slot="header">
                <el-form ref="queryForm" :model="q" :inline="true">
                    <el-form-item prop="name" label="关键字">
                        <el-input style="width: 200px;" id="search" placeholder="输入后自动搜索" v-model.trim="q.name"
                            clearable prefix-icon="el-icon-search"></el-input>
                    </el-form-item>
                </el-form>
            </div>
            <div class="treeExpandCollapse">
                <a @click="fold" href="javascirpt:void(0)">折叠</a> / <a @click="unfold" href="javascirpt:void(0)">展开</a>
            </div>
            <div id="tree" class="ztree" style="overflow: auto;">
            </div>
        </el-card>
    </div>
    <script src="/js/module/deptTree.js${time}"></script>
</body>

</html>