body {
	background: #f2f2f2;
}

#app {
	padding: 10px 10px 0px 10px;
}

[v-cloak] {
	display: none;
}

.layui-dialog {
	display: none;
	padding: 10px;
}

.el-card__header {
	padding: 10px;
}

.el-card__body {
	padding: 10px;
}

.site-dir {
	display: none;
}

.site-dir li {
	line-height: 26px;
	margin-left: 20px;
	overflow: visible;
	list-style-type: disc;
}

.site-dir li a {
	display: block;
}

.site-dir li a:active {
	color: #01AAED;
}

.site-dir li a.layui-this {
	color: #01AAED;
}

body .layui-layer-dir {
	box-shadow: none;
	border: 1px solid #d2d2d2;
}

body .layui-layer-dir .layui-layer-content {
	padding: 10px;
}

.site-dir a em {
	padding-left: 5px;
	font-size: 12px;
	color: #c2c2c2;
	font-style: normal;
}