<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>角色管理</title>
    <#include "/common/header.html" />
    <link rel="stylesheet" href="/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
    <script src="/plugins/ztree/js/jquery.ztree.core.min.js"></script>
    <script src="/plugins/ztree/js/jquery.ztree.excheck.min.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <el-card v-show="showList">
            <div slot="header">
                <el-form ref="queryForm" :model="q" :inline="true">
                    <el-form-item prop="roleName" label="角色名称">
                        <el-input v-model.trim="q.roleName" clearable></el-input>
                    </el-form-item>
                    <el-button type="success" @click="query"><i class="fa fa-search"></i>&nbsp;查询</el-button>
                    <el-button @click="handleReset('queryForm')"><i class="fa fa-reply"></i></i>&nbsp;重置</el-button>
                </el-form>
            </div>
            <el-button type="primary" @click="add"><i class="fa fa-plus"></i>&nbsp;添加</el-button>
            <el-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</el-button>
            <el-button type="danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</el-button>
            <table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
        </el-card>
        <el-card v-show="!showList">
            <div slot="header">
                {{title}}
            </div>
            <el-row>
				<el-col :span="12">
					<el-form @submit.native.prevent ref="roleForm" :model="role" :rules="ruleValidate" label-width="80px">
						<el-form-item label="角色名称" prop="roleName">
							<el-input v-model="role.roleName" placeholder="角色名称" />
						</el-form-item>
						<el-form-item label="备注" prop="remark">
							<el-input v-model="role.remark" type="textarea" placeholder="请输入内容" />
						</el-form-item>
						<el-form-item label="功能权限">
							<div id="tree" class="ztree" style="overflow: auto;"></div>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="handleSubmit('roleForm')">提交</el-button>
							<el-button type="warning" @click="back">返回</el-button>
							<el-button @click="handleReset('roleForm')">重置</el-button>
						</el-form-item>
					</el-form>
				</el-col>
			</el-row>
        </el-card>
    </div>
    <script src="/js/module/role.js${time}"></script>
</body>

</html>