<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>新豪智-研发中心系统</title>
<link rel="stylesheet" href="/plugins/layui/css/layui.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/font/font-awesome/css/font-awesome.min.css">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">新豪智1</div>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a href="javascript:;">贤心</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本资料</a>
						</dd>
						<dd>
							<a href="">安全设置</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="">退了</a>
				</li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed">
						<a class="" href="javascript:;"><i class="fa fa-flask"></i>&nbsp;研发中心</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" data-url="sys/user.html"><i class="fa fa-database"></i>&nbsp;数据库工具</a>
							</dd>
							<dd>
								<a href="javascript:;" data-url="sys/user.html"><i class="fa fa-code"></i>&nbsp;用户Demo</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<iframe src="sys/user.html" frameborder="0" class="mainframe" id="mainframe"></iframe>
		</div>

		<div class="layui-footer">
			<!-- 底部固定区域 -->
			© layui.com - 底部固定区域
		</div>
	</div>
	<script src="plugins/layui/layui.js"></script>
	<script>
		layui.use('element', function() {
			var element = layui.element;
			var $ = layui.$;

			$("[data-url]").click(function() {
				var src = $(this).attr("data-url");
				if (src) {
					$("#mainframe").attr("src", src);
				}
			});

		});
	</script>
</body>
</html>