<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title></title>
		<#include "/common/header.html">
	</head>
	<body>
		<div id="app" v-cloak>
			<template v-for="item in menuItem">
				<el-button type="primary" @click="openTab(item.name, item.url)">
					<i :class="item.icon"></i>&nbsp;&nbsp;{{item.name}}
				</el-button>
			</template>
		</div>
		<script src="${basePath}/js/module/main.js${time}"></script>
	</body>
</html>
