<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>数据库文档</title>
	<#include "/common/header.html">
</head>

<body>
	<div id="app" v-cloak>
		<el-card>
			<div slot="header">
				<span>
					<el-form ref="queryForm" :model="q" :inline="true">
						<el-form-item prop="id" label="数据源">
							<el-select v-model="q.id" clearable>
								<el-option v-for="item in datasourceItem" :value="item.value" :key="item.value" :label="item.label"></el-option>
							</el-select>
						</el-form-item>
						<el-button type="success" @click="query"><i class="fa fa-search"></i>&nbsp;查询</el-button>
						<el-button type="warning" @click="openTarget"><i class="fa fa-arrows-alt"></i>&nbsp;外层打开</el-button>
						<el-button type="danger" @click="queryDatabaseDoc"><i class="fa fa-download"></i>&nbsp;拉取数据</el-button>
					</el-form>
				</span>
			</div>
			<div style="width:920px;">
				<template v-if="databaseShow">
					<blockquote class="layui-elem-quote">数据源信息：
						<el-tooltip class="item" effect="light" content="数据源名称" placement="top">
							<el-tag type="success">{{database.name}}</el-tag>
						</el-tooltip>&nbsp;&nbsp;
						<el-tooltip class="item" effect="light" content="数据库类型" placement="top">
							<template v-if="database.dbType === '0'">
								<el-tag>Mysql</el-tag>
							</template>
							<template v-else-if="database.dbType === '1'">
								<el-tag>Oracle</el-tag>
							</template>
						</el-tooltip>&nbsp;&nbsp;
						<el-tooltip class="item" effect="light" content="链接地址" placement="top">
							<el-tag type="warning">{{database.url}}</el-tag>
						</el-tooltip>&nbsp;&nbsp;
						<el-tooltip class="item" effect="light" content="最近拉取时间" placement="top">
							<el-tag type="danger">{{database.lastTestTime}}</el-tag>
						</el-tooltip>
					</blockquote>
				</template>
				<div id="doc"></div>
			</div>
		</el-card>
		<div id="contentDialog" class="layui-dialog">
			<ul class="site-dir layui-layer-wrap" style="display: block;">
			</ul>
		</div>
	</div>
	<script src="/js/module/databaseDoc.js${time}"></script>
</body>

</html>